!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    %meta{:content => "網頁設計", :name => "keywords"}
    %meta{:content => "提供客製化軟硬體、網路設計、伺服器架設、網頁設計、雲端架構、醫療資訊系統等各種服務。", :name => "description"}
    %meta{:content => "SIFI 矽緋國際有限公司", :name => "company"}
    %meta{:content => "SIFI 矽緋國際有限公司", :name => "copyright"}

    %title SIFI 矽緋國際有限公司
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'raleway', 'http://fonts.googleapis.com/css?family=Raleway:300'
    = csrf_meta_tags
  %body
    .container-fluid
    = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true